* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global */
body {
    background-color: antiquewhite;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}


/* Header */
header {
    background-color: maroon;
    color:antiquewhite;
    padding: 2%;
    min-height: 70px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

header h1 {
    font-size: 400%;
}

header nav ul {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: black;
}

/* Footer */
footer {

}

/* media query */
@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
    }
}
