* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

body {
    background-color:rgba(0, 0, 0, 0.9);
    margin:0;
    font-family: 'Lora', serif;
    font-size: 17px;
    color: lightsteelblue;
    line-height: 1.6;
}

#mountain::after{
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url("../images/sun-on-top-of-mountains-hd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}
#mountain:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

#mountain:hover .content h1{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 2000ms;
}
#mountain:hover .content p{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 3000ms;
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
}

.content h1 {
    font-size: 2.2rem;
    margin-top: 2rem;
    font-weight: bold;
    line-height: 1.2;
}

.content p {
    font-size: 15px;
    line-height: 1.2;
    margin-top: 1rem;
}

.content .button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: lightsteelblue;
    border: lightsteelblue 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.content .button:hover {
    background: lightsteelblue;
    color: white;
}