* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

body {
    background-color:rgba(0, 0, 0, 0.9);
    margin:0;
    font-family: 'Lora', serif;
    font-size: 17px;
    color: lightsteelblue;
    line-height: 1.6;
}

/* landing page */
#mountain::after{
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url("../images/torigate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}
#mountain:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

#mountain:hover .content h1 {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 2000ms; 
}
#mountain:hover .content p {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 3000ms;
}

    /* h1 and p styles */
    header .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 10%;
        left: 50%;
        margin-top: 105px;
        margin-left: -145px;
        width: 300px;
        height: 350px;
        text-align: center;
    }

    .content h1 {
        font-size: 2.2rem;
        margin-top: 2rem;
        font-weight: bold;
        line-height: 1.2;
    }

    .content p {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 1rem;
    }

    /* scroll down button */
    .content .button {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: lightsteelblue;
        border: lightsteelblue 1px solid;
        padding: 10px 20px;
        border-radius: 100px;
        margin-top: 20px;
    }

    .content .button:hover {
        cursor: pointer;
        background: lightsteelblue;
        color: white;
        transition: all 2000ms;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,1);
    }

/* Navbar */
.navigationBar {
    text-align: center;
    margin: auto;
}

.navContainer {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 2rem 1rem;
}

.navbutton:hover {
    cursor: pointer;
    color: white;
    transition: all 1000ms;
}
.navGrid {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navigationBar .navContainer a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: lightsteelblue;
}

/* About section */
.about {
    background: lightslategray;
    color: black;
    padding: 50px 100px;
    /* temporary */
    /* border: black 10px solid;
    border-radius: 20px;
    margin: 50px; */
}
.about h2 {
    font-weight: bold;
    font-size: 50px;
}

.about img {
    max-width: 200px;
    border: lightcyan 5px solid;
    border-radius: 100px;
}

.aboutWrapper {
    display: grid;
    grid-template-columns: 1fr .50fr 1fr 3.75fr;
}

.aboutWrapper div {
    background: black;
    margin-right: 100px;
    max-width: 5px;
    border: black 1px solid;
    border-radius: 100px;
}

/* Project Section */
.projects {
    background: lightslategray;
    color: black;
    padding: 50px 100px;
    /* temporary */
    /* border: black 10px solid;
    border-radius: 20px;
    margin: 50px; */
}

.projects h2 {
    font-weight: bold;
    font-size: 50px;
}

.projectsWrapper {
    display: grid;
    grid-template-columns: 1fr .50fr 1fr 3.75fr;
}

.projectsWrapper div {
    background: black;
    margin-right: 100px;
    max-width: 5px;
    border: black 1px solid;
    border-radius: 100px;
}

/* Contact Section */
.contact {
    background: lightslategray;
    color: black;
    padding: 50px 100px;
    /* temporary */
    /* border: black 10px solid;
    border-radius: 20px;
    margin: 50px; */
}

.contact h2 {
    font-weight: bold;
    font-size: 50px;
}

.contactWrapper {
    display: grid;
    grid-template-columns: 1fr .50fr 1fr 3.75fr;
}

.contactWrapper div {
    background: black;
    margin-right: 100px;
    max-width: 5px;
    border: black 1px solid;
    border-radius: 100px;
}

/* Resume Section */
.resume {
    background: lightslategray;
    color: black;
    padding: 50px 100px;
    /* temporary */
    /* border: black 10px solid;
    border-radius: 20px;
    margin: 50px; */
}

.resume h2 {
    font-weight: bold;
    font-size: 50px;
}

.resumeWrapper {
    display: grid;
    grid-template-columns: 1fr .50fr 1fr 3.75fr;
}

.resumeWrapper div {
    background: black;
    margin-right: 100px;
    max-width: 5px;
    border: black 1px solid;
    border-radius: 100px;
}


/* Footer Section */
footer {
    padding: 2rem 1rem;
}
footer h4 {
    text-align: center;
}

/* media queries */
@media screen and (max-width: 768px) {
    #mountain::after {
        height: 50vh;;
    }
    header .content {
        top: 5%;
        margin-top: 5px;
    }
    header .content .button {
        font-size: 9px;
    }
    .navGrid, .about, .projects, .contact, .resume {
        grid-template-columns: 1fr 1fr;
    }
}